.admin-container {
    width: 250px;
    text-align: left;
    min-height: 500px;
    margin: auto;
}

    .admin-container .no-files tr,td {
        border: none !important;
    }


#response.error,
.error {
    color: #C60808;
}

#response.success,
.success {
    color: #27C608;
}

.users table {
   border-spacing: 0px;
}

.users tr,td {
    border-bottom: 1px solid #ccc;
}
