.admin-container {
    width: 750px;
    text-align: left;
    min-height: 500px;
    margin: auto;
    position: relative;
}

    .admin-container .no-files tr,
    .admin-container .no-files td {
        border: none !important;
    }


#response.error,
.error {
    color: #C60808;
}

#response.success,
.success {
    color: #27C608;
}

.users table {
   border-spacing: 0px;
}

.users tr,td {
    border-bottom: 1px dotted #ccc;
    border-right: 1px dotted #ccc;
    padding: 5px;
}
