/* CSS Document */

body {
    margin:0;
    font-family:"Trebuchet MS", Arial, Verdana;
    font-size:0.74em;
    color:#555555;
    text-align:left;
    /*background: url("/images/gradient.gif") no-repeat -158px -238px;*/
    /*background: url("/images/texture.gif") repeat-x ;*/
}

a {
    color:#4D87CE;
    font-weight:bold;
    text-decoration:none;
}
a:hover {
    color:#2a65ad;
}

ol,ul {

}

ul li {
    list-style-image:url(/images/resources/bullet.gif);
    line-height:20px;
    text-align:left;
}

#content-wrapper,
#wrapper {
    float: left;
    width: 100%;
}

#menu {
    width:100%;
    padding: 10px 0 0 0;
    margin-bottom:50px;
    color:#666;
    text-align:center;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
    font-variant:small-caps;
    height: 90px;
    background-color: #F9FFED;
    border-bottom: 1px solid #eee;
}

    #menu .container {
        
    }
    
        #menu .logo-container {
            position:relative;
            left: -87px;
            top: -29px;
        }
        
        #menu .link-container {
            position: relative;
            top: -207px;
            left: -264px;
        }

#menu a {
    text-decoration:none;
    color: #666;
    padding:7px;
    padding-top:20px;
    padding-bottom:20px;
    font-weight: normal;
    text-transform: lowercase;
    
}
#menu a:hover {
    color:#666666;
}

#header {
    width:750px;
    margin:0 auto 0 auto;
    margin-bottom:40px;
    display:none;
}
#header h1 {
    font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
    font-size:30px;
    font-weight:normal;
    margin:0;
    padding:0;
    padding-top:5px;
    margin-bottom:0px;
    text-align:left;
}
#header h2 {
    font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
    font-size:15px;
    /*text-transform:uppercase;*/
    text-align:right;
    font-weight:normal;
    margin:0;
    padding:0;
    /*color:#99B198;*/
    border-bottom:1px solid #eeeeee;
}

#header img.leaf {
    position:absolute;
    display:none;
    opacity: .1;
    top: -107px;
    left: 96px;
    -webkit-transform: rotate(244deg);
    -moz-transform: rotate(244deg);
    transform: rotate(244deg);
    width: 480px;
}

#content {
    width:720px;
    margin:0 auto 0 auto;
    text-align:left;
    min-height: 700px;
    position: relative;
}

.introduction {
    font-family:Helvetica, Arial, sans-serif;
    line-height:20px;
    font-size:12px;
    text-indent:25px;
    background-image:url(../images/backgrounds/desc.jpg);
    background-position:bottom left;
    padding-left:0;
    padding-right:200px;
    padding-bottom:35px;
    padding-top:0;
    background-repeat:no-repeat;
    
}
.logo {
    float:right;
    margin-right:30px;
}
.clearer {
    clear:both;
}

#sidebar {
    width:160px;
    float:right;
    font-size:95%;
    color:#6C534A;
    text-align:left;
    padding-bottom: 20px;
    min-height: 1100px;
}

    #sidebar h1 {
        font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
        font-size:20px;
        text-transform:lowercase;
        font-weight:normal;
        border-bottom:1px solid #eeeeee;
        /*color:#9D73A4;*/
        text-align:right;
    }

    #sidebar #logo-container {
        float: left;
        clear: both;
        padding-bottom: 40px;
        /*padding-left: 30px;*/
    }
    
    #sidebar #menu-container {
        clear: both;
    }

    #sidebar input,
    #edit-container input {
        border: 1px solid #ccc;
    }

.submenu a {
    display:block;
    width:100%;
    background-image:url(../images/backgrounds/submenua.gif);
    background-position:right;
    background-repeat:no-repeat;
    padding:5px;
    padding-right:0;
    color: #666;
}
.submenu a:hover {
    background-color:#EFFCD7;
    background-image:url(../images/backgrounds/submenua_hover.jpg);
    background-repeat:repeat-y;
}
#mainbar {
    width: 500px;
    padding-right:35px;
    /*background-color:#F9F9F9;*/
    /*background-image:url(../images/backgrounds/mainbar.jpg);*/
    background-position:top right;
    background-repeat:no-repeat;
    float: left;
}

#mainbar h1 {
    font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
    font-size:25px;
    /*text-transform:uppercase;*/
    font-weight:normal;
    border-bottom:1px solid #eeeeee;
    /*color: #99B198;*/
}

#mainbar p {
    line-height:20px;
}

#mainbar .articleimg {
    float:right;
    padding:5px;
    border:1px solid #eeeeee;
    margin-left:20px;
    margin-top:20px;
    margin-bottom:20px;
    height: 120px;
}

#footer {
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    color:#666;
    float: left;
    text-align: center;
    background-color: #F9FFED;
    border-top: 1px solid #eee;
}

#footer a {
    color:#ffffff;
}

.error {
    color: #C60808;
}

.success {
    color: #27C608;
}

/* User panel */
.user-panel {

}

    .user-panel h3 {
        margin-bottom: 0
    }
    
    .user-panel a {
        color: #666;
    }

#modal-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    display:none;
    top: 0;
    left: 0;
    opacity: .90;
}

#modal-background.on {
    display:block;
}

.documents-container tr, 
.documents-container td {
    border-bottom: 1px solid #eee;
}

th,tr,td {
    padding: 5px;
}

/* Blog editing */
#edit-container {
    width: 750px;
    height: 100%;
    position: relative;
    margin: 0 auto 0 auto;
    padding-bottom: 20px;
}

.blog_entry {
    width: 475px;
    border-bottom: 1px solid #EEE;
    padding: 5px 0;
}

#edit-container label {
    font-weight: bold;
}

#edit-container input[name="title"] {
    width: 98%;
    margin-bottom: 10px;
}

#post-btn {
    float: right;
    padding: 10px 0;
}

.blog_index .edit-link,
.blog_index .remove-link {
    margin: 0;
}

.blog_index .edit-container {

}

    .blog_index .edit-container p {
        margin-bottom: 0;
    }

/* Search */
.search-result {
    border-bottom: 1px solid #eee;
    width: 475px;
    padding-top: 10px;
    padding-left: 10px;
}

    .search-result h2 {
        margin-top: 0;
    }
    
    .search-result:hover {
        background-color: #FBFBFB;
    }
    
    .search-result.hidden {
        display: none;
    }

    #search-container #pagination-container {
        float: left;
        position: relative;
        padding: 10px 0px;
        left: 10px;
    }

        #search-container #pagination-container .previous,
        #search-container #pagination-container .next,
        #search-container #pagination-container .pagination-link {
            cursor: pointer;
            color: #2A65AD;
        }

        #search-container #pagination-container .pagination-link {
            padding: 0 5px;
            text-decoration: underline;
        }

        #search-container #pagination-container .pagination-link.active {
            text-decoration: none;
            font-weight: bold;
            cursor: default;
        }

        #search-container .invisible {
            color: #8CBEFA !important;
            cursor: default !important;
        }

        #search-container .hidden {
            display:none;
        }
